*{
    margin: 0;
    padding: 0;
}
header{
    background-color: wheat;
    padding-top: 16px;
}
.btn{
    background-color: green;
    border: none;
    padding: 12.5px 16px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: bold;
    color: white;
}
nav{
    /* border: 1px solid aquamarine; */
    width: 71%;
    max-width: 1140;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
div h2{
color: green;
}
nav .menu{
    display: flex;
    list-style: none;
    gap: 32px;
    
}
