*{
    margin: 0;
    padding: 0;
}
header{
    background-color: wheat;
    padding-top: 16px;
}
.btn{
    background-color: green;
    border: none;
    padding: 12.5px 16px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: bold;
    color: white;
}
nav{
    /* border: 1px solid aquamarine; */
    width: 71%;
    max-width: 1140;
    display: flex;
    margin:0px auto;
    justify-content: space-between;
    align-items: center;
}

nav .menu{
    display: flex;
    list-style: none;
    gap: 32px;
    
}
.bg{
    background-image: url("./assets/hero-bg.png");
    text-align: center;
}
.btn1{
border: none;
padding: 10px;
border-radius: 30px;
}
section h1{
    font-weight: bold;
    font-size: 72px;
    color: rgba(255, 255, 255, 1);
}
section h2{
    color: rgba(48, 184, 104, 1);
    font-weight: bold;
    font-size: 72px;
}
section p{
    color: white;
}
section button{
    background-color: #30B868;
    color: rgba(255, 255, 255, 1);
    font-style: semi bold;
    
}
.box h2{
    color: #001931;
    font-size: 24px;
    font-weight: 600px;
    
}
.box p{
    color: #627382;
    font-size: 16px;
}
.box{
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 10px 10px 10px rgb(182, 173, 173);
    padding: 50px;
}
.problem{
    display: flex;
    gap: 10px;
    margin: 120px;
}
.notes{
    text-align: center;
    margin-top: 60px;
}
.solution{
    font-size: 16px;
    color: #469165;
}
.noyon{
    display: flex;
    align-items: center;
    gap: 60px;
    margin: 0 120px;
    justify-content: center;
}
.k{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
}
.noyon p{
    font-size: 16px;
    color: #627382;
    margin: 16px 0 40px;
}
.chalange h1{
    font-size: 40px;
    font-weight: bold;
    color: #001931;
}
.chalange p{
font-size: 16px;
color: #627382;
margin: 16px;
}
.btn2{
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background-color: #30B868;
    padding: 16px;
    border: none;
    border-radius: 5px;

}
.chalange{
    text-align: center;
    padding: 80px 40px;
    background-color: #F7F6F2;
    
}
.social{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px;

}
.social h5{
        color: #FFFFFF;
        font-size: 20px;
        


}
footer p{
    font-size: 16px;
    color: #FAFAFA;
    padding: 30px 120px;
    align-items: center;

}
footer{
    background-color: #001931;
    padding: 120px 120px 80px;
    text-align: center;

}